.btn {
	border-radius: 6px;
	border: none;
	background-color: $red;
	font-family: inherit;
	font-size: 1.5rem;
	font-weight: 300;
	color: white;
	text-align: center;
	cursor: pointer;
	padding: 1.4rem;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: $white;
		color: $semi-dark-blue;
	}
}
